h1{
  color: AliceBlue;
  background-color: DarkOliveGreen;
  background-image:url'https://content.codecademy.com/articles/github-pages-via-web-app/happy-ice-cream.gif';
  background-size:cover;
}

h2:hover{
  color:SeaGreen;
}

#ice-cream{
  opacity:0.5;
  z-index:2;
}
